/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-add-network {
	background-color: #f4f7f9;
	color: #fff;
	padding: 1px;
}
